In [61]:
import pandas as pd 
from sklearn.cluster import AgglomerativeClustering
from sklearn.model_selection import cross_val_score

In [62]:
df=pd.read_csv("county_facts.csv")
df=df.dropna(subset=["state_abbreviation"])
#df=df.drop('Unnamed: 0',axis=1)
df=df.rename(index=str,columns={"PST045214": "Pop2014",
                            "PST040210": "Pop2010EST",
                            "PST120214": "Pop%Change",
                            "POP010210":"Pop2010",
                            "AGE135214": "Under5%",
                            "AGE295214": "Under18%",
                            "AGE775214": "Over65%",
                            "SEX255214": "Female%",
                            "RHI125214": "White%",
                            "RHI225214": "Black%",
                            "RHI325214": "NativeA%",
                            "RHI425214": "Asian%",
                            "RHI525214": "PIsland%",
                            "RHI625214": "TwoRace%",
                            "RHI725214": "Latino",
                            "RHI825214": "WhiteNLat%",
                            "POP715213": "SameHouse1yr%",
                            "POP645213": "ForeignBorn%",
                            "POP815213": "NonEnglish%",
                            "EDU635213": "HighSchoolGrad%",
                            "EDU685213": "Bachelor%",
                            "VET605213": "Veteran",
                            "LFE305213": "TravelTime",
                            "HSG010214": "HousingUnits",
                            "HSG445213": "OwnershipRate",
                            "HSG096213": "UnitsinMultiUnit%",
                            "HSG495213": "MedianValueHousing",
                             "HSD410213": "Households",
                            "INC910213": "PerCapitaIncome",
                            "INC110213": "MedianIncome",
                            "PVY020213": "%BelowPoverty",
                            "BZA010213": "PrivateNotFarmsEstablish",
                            "BZA110213": "PrivateNotFarmEmploy",
                            "BZA115213": "NotFarm%Change",
                            "NES010213": "NonEmployerEstablish",
                            "SBO315207": "Black-owned%",
                            "SBO115207": "Native-owned%",
                            "SBO215207": "Asian-owned%",
                            "SBO515207": "PIslnder-owned%",
                            "SBO415207": "Hispanic-owned%",
                            "SBO015207": "Woman-owned",
                            "MAN450207": "Manfact shipments 1k",
                            "WTN220207": "Merchant sales 1k",
                            "RTN130207": "Retail sales 1k",
                            "RTN131207": "Retail sales/capita",
                            "AFN120207": "Accomd/FoodServ sales 1k",
                            "BPS030214": "BuildingPermits",
                            "LND110210": "LandArea",
                            "POP060210": "Pop/SqMile"})

In [63]:
x_vars=["PST040210",
"PST120214",
"POP010210",
"AGE135214",
"AGE295214",
"AGE775214",
"SEX255214",
"RHI125214",
"RHI225214",
"RHI325214",
"RHI425214",
"RHI525214",
"RHI625214",
"RHI725214",
"RHI825214",
"POP715213",
"POP645213",
"POP815213",
"EDU635213",
"EDU685213",
"VET605213",
"LFE305213",
"HSG010214",
"HSG445213",
"HSG096213",
"HSG495213",
"HSD410213",
"HSD310213",
"INC910213",
"INC110213",
"PVY020213",
"BZA010213",
"BZA110213",
"BZA115213",
"NES010213",
"SBO001207",
"SBO315207",
"SBO115207",
"SBO215207",
"SBO515207",
"SBO415207",
"SBO015207",
"MAN450207",
"WTN220207",
"RTN130207",
"RTN131207",
"AFN120207",
"BPS030214",
"LND110210",
"POP060210"
]

In [64]:
x_vars=["Pop2014","Pop2010EST","Pop%Change","Pop2010",
                    "Under5%","Under18%","Over65%","Female%",
                     "White%","Black%","NativeA%","Asian%",
                    "PIsland%","TwoRace%","Latino", "WhiteNLat%",
                     "SameHouse1yr%","ForeignBorn%","NonEnglish%","HighSchoolGrad%",
                    "Bachelor%","Veteran", "TravelTime","HousingUnits", 
                     "OwnershipRate","UnitsinMultiUnit%","MedianValueHousing",
                     "Households","PerCapitaIncome","MedianIncome","%BelowPoverty",
                     "PrivateNotFarmsEstablish","PrivateNotFarmEmploy","NotFarm%Change","NonEmployerEstablish",
                    "Black-owned%","Native-owned%","Asian-owned%","PIslnder-owned%",
                     "Hispanic-owned%","Woman-owned","Manfact shipments 1k",
                    "Merchant sales 1k","Retail sales 1k","Retail sales/capita",
                     "Accomd/FoodServ sales 1k","BuildingPermits","LandArea","Pop/SqMile"]

In [131]:
model=AgglomerativeClustering(n_clusters=8)

In [132]:
model.fit(df[x_vars])

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
            connectivity=None, linkage='ward',
            memory=Memory(cachedir=None), n_clusters=8,
            pooling_func=<function mean at 0x7fc10c16cea0>)

In [67]:
model.fit_predict(df[x_vars])

array([4, 4, 4, ..., 4, 4, 4])

In [68]:
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [69]:
df.groupby('Current_Cluster').count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Hispanic-owned%,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile
8_Cluster,,,,,,,,,,,,,,,,,,,,,
0,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
1,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
3,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
4,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733,...,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733
5,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22
6,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
7,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [84]:
#Clusters don't provide anything interesting
model=AgglomerativeClustering(n_clusters=6)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [85]:
df.groupby("Current_Cluster").count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,8_Cluster
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
1,77,77,77,77,77,77,77,77,77,77,...,77,77,77,77,77,77,77,77,77,77
2,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
3,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
4,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733,...,2733,2733,2733,2733,2733,2733,2733,2733,2733,2733
5,22,22,22,22,22,22,22,22,22,22,...,22,22,22,22,22,22,22,22,22,22

In [95]:
x_vars=["Female%",
                     "White%","Black%","NativeA%","Asian%",
                    "PIsland%","TwoRace%","Latino", "WhiteNLat%"]

In [98]:
model=AgglomerativeClustering(n_clusters=7)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [99]:
df.groupby("Current_Cluster").count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,8_Cluster
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,241,241,241,241,241,241,241,241,241,241,...,241,241,241,241,241,241,241,241,241,241
1,296,296,296,296,296,296,296,296,296,296,...,296,296,296,296,296,296,296,296,296,296
2,792,792,792,792,792,792,792,792,792,792,...,792,792,792,792,792,792,792,792,792,792
3,115,115,115,115,115,115,115,115,115,115,...,115,115,115,115,115,115,115,115,115,115
4,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,40
5,1369,1369,1369,1369,1369,1369,1369,1369,1369,1369,...,1369,1369,1369,1369,1369,1369,1369,1369,1369,1369
6,290,290,290,290,290,290,290,290,290,290,...,290,290,290,290,290,290,290,290,290,290

In [111]:
x_vars=["PerCapitaIncome","MedianIncome","%BelowPoverty"]

In [124]:
model=AgglomerativeClustering(n_clusters=9)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [125]:
df.groupby("Current_Cluster").count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,8_Cluster
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,360,360,360,360,360,360,360,360,360,360,...,360,360,360,360,360,360,360,360,360,360
1,424,424,424,424,424,424,424,424,424,424,...,424,424,424,424,424,424,424,424,424,424
2,738,738,738,738,738,738,738,738,738,738,...,738,738,738,738,738,738,738,738,738,738
3,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
4,310,310,310,310,310,310,310,310,310,310,...,310,310,310,310,310,310,310,310,310,310
5,114,114,114,114,114,114,114,114,114,114,...,114,114,114,114,114,114,114,114,114,114
6,583,583,583,583,583,583,583,583,583,583,...,583,583,583,583,583,583,583,583,583,583
7,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
8,514,514,514,514,514,514,514,514,514,514,...,514,514,514,514,514,514,514,514,514,514

In [134]:
#df.ix[df['Current_Cluster']==7][x_vars]

In [128]:
df.groupby('Current_Cluster').mean()[x_vars]

                 PerCapitaIncome   MedianIncome  %BelowPoverty
Current_Cluster
0                   28243.338889   58171.777778      11.025833
1                   25885.386792   51312.167453      13.062500
2                   24134.746612   45675.508130      14.634011
3                   39171.963415   80639.731707       7.418293
4                   16637.496774   29762.177419      27.895484
5                   33379.307018   68719.157895       9.192982
6                   21206.725557   40905.231561      18.053002
7                   46312.388889  102764.666667       5.377778
8                   19312.258755   36193.416342      21.765759

In [145]:
x_vars=["Black-owned%","Native-owned%","Asian-owned%","PIslnder-owned%",
                     "Hispanic-owned%","Woman-owned"]

In [152]:
model=AgglomerativeClustering(n_clusters=5)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [153]:
df.groupby("Current_Cluster").count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,8_Cluster
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,991,991,991,991,991,991,991,991,991,991,...,991,991,991,991,991,991,991,991,991,991
1,150,150,150,150,150,150,150,150,150,150,...,150,150,150,150,150,150,150,150,150,150
2,73,73,73,73,73,73,73,73,73,73,...,73,73,73,73,73,73,73,73,73,73
3,953,953,953,953,953,953,953,953,953,953,...,953,953,953,953,953,953,953,953,953,953
4,976,976,976,976,976,976,976,976,976,976,...,976,976,976,976,976,976,976,976,976,976

In [162]:
x_vars=["Under5%","Under18%","Over65%"]
model=AgglomerativeClustering(n_clusters=15)
df['Current_Cluster']=model.fit_predict(df[x_vars])

In [163]:
df.groupby("Current_Cluster").count()

,fips,area_name,state_abbreviation,Pop2014,Pop2010EST,Pop%Change,Pop2010,Under5%,Under18%,Over65%,...,Woman-owned,Manfact shipments 1k,Merchant sales 1k,Retail sales 1k,Retail sales/capita,Accomd/FoodServ sales 1k,BuildingPermits,LandArea,Pop/SqMile,8_Cluster
Current_Cluster,,,,,,,,,,,,,,,,,,,,,
0,392,392,392,392,392,392,392,392,392,392,...,392,392,392,392,392,392,392,392,392,392
1,70,70,70,70,70,70,70,70,70,70,...,70,70,70,70,70,70,70,70,70,70
2,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
3,462,462,462,462,462,462,462,462,462,462,...,462,462,462,462,462,462,462,462,462,462
4,161,161,161,161,161,161,161,161,161,161,...,161,161,161,161,161,161,161,161,161,161
5,82,82,82,82,82,82,82,82,82,82,...,82,82,82,82,82,82,82,82,82,82
6,453,453,453,453,453,453,453,453,453,453,...,453,453,453,453,453,453,453,453,453,453
7,141,141,141,141,141,141,141,141,141,141,...,141,141,141,141,141,141,141,141,141,141
8,340,340,340,340,340,340,340,340,340,340,...,340,340,340,340,340,340,340,340,340,340
9,106,106,106,106,106,106,106,106,106,106,...,106,106,106,106,106,106,106,106,106,106
10,200,200,200,200,200,200,200,200,200,200,...,200,200,200,200,200,200,200,200,200,200
11,195,195,195,195,195,195,195,195,195,195,...,195,195,195,195,195,195,195,195,195,195
12,209,209,209,209,209,209,209,209,209,209,...,209,209,209,209,209,209,209,209,209,209
13,174,174,174,174,174,174,174,174,174,174,...,174,174,174,174,174,174,174,174,174,174
14,108,108,108,108,108,108,108,108,108,108,...,108,108,108,108,108,108,108,108,108,108

In [164]:
df.groupby('Current_Cluster').mean()[x_vars]

                  Under5%   Under18%    Over65%
Current_Cluster
0                5.072194  20.237755  20.640306
1                3.854286  15.645714  30.377143
2                4.240000  15.244000  12.886000
3                5.640909  22.220130  17.517532
4                7.440373  27.529193  14.460248
5                9.490244  32.826829  10.446341
6                6.473510  24.474172  16.052318
7                4.433333  18.194326  25.458156
8                6.122353  23.452059  19.746176
9                7.433019  27.204717  10.052830
10               4.948000  19.560500  17.303500
11               5.782564  22.071282  14.871795
12               6.689952  24.605263  12.485167
13               5.298276  20.975287  24.006322
14               5.668519  19.842593  12.003704

In [ ]:
model=AgglomerativeClustering(n_clusters=9)
df['Current_Cluster']=model.fit_predict(df[x_vars])